In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("Google Play Store.csv")

### Null Values Count

In [6]:
data.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

### Dropping the Null values and Finding the sum

In [28]:
df = data
data.dropna().isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [17]:
frame = pd.DataFrame(df.isnull().sum())

In [18]:
frame

                   0
App                0
Category           0
Rating          1474
Reviews            0
Size               0
Installs           0
Type               1
Price              0
Content Rating     1
Genres             0
Last Updated       0
Current Ver        8
Android Ver        3

# Data Analysis - Numeric

In [64]:
df = pd.read_csv("Google Play Store.csv")

In [66]:
data = df.dropna()
avg_rating = sum(data['Rating'])/len(data['Rating'])
print(avg_rating)

4.191837606837612

In [67]:
total = 0 
for i in data['Rating']:
    total+=i
avg_rating = total/len(data['Rating'])
print(avg_rating)

4.191837606837612

### Calculating Average Reviews

In [79]:
for i in data['Reviews']:
    i = int(i)
    total = total + i
avg_reviews = total /len(data['Reviews'])
print(int(avg_reviews))

1028757

# Categorical

In [82]:
data['Category'].nunique()

33

In [88]:
cat = {}
for i in data['Category'].unique():
    count = 0
    for j in data['Category']:
        if j == i:
            count+=1
    cat[i]=count
for i in cat:
    print(i,cat[i])

ART_AND_DESIGN 61
AUTO_AND_VEHICLES 73
BEAUTY 42
BOOKS_AND_REFERENCE 178
BUSINESS 303
COMICS 58
COMMUNICATION 328
DATING 195
EDUCATION 155
ENTERTAINMENT 149
EVENTS 45
FINANCE 323
FOOD_AND_DRINK 109
HEALTH_AND_FITNESS 297
HOUSE_AND_HOME 76
LIBRARIES_AND_DEMO 64
LIFESTYLE 314
GAME 1097
FAMILY 1746
MEDICAL 350
SOCIAL 259
SHOPPING 238
PHOTOGRAPHY 317
SPORTS 319
TRAVEL_AND_LOCAL 226
TOOLS 733
PERSONALIZATION 312
PRODUCTIVITY 351
PARENTING 50
WEATHER 75
VIDEO_PLAYERS 160
NEWS_AND_MAGAZINES 233
MAPS_AND_NAVIGATION 124

In [94]:
print(df['Category'].describe())

pandas.core.series.Series

# Handling the Null Values-Numeric

In [17]:
from sklearn.impute import SimpleImputer
data = pd.read_csv("https://raw.githubusercontent.com/AshishJangra27/Data-Analysis-with-Python-GFG/main/7.%20Null%20Values%20Handling%20-%20Numeric/Data.csv")
data.to_csv("Data.csv",index=False)

In [99]:
np.mean(data['Salary'])

63777.77777777778

# Filling the Null Values with most_frequent

In [19]:
imputer = SimpleImputer(missing_values = np.nan,strategy='most_frequent')
imputer.fit(data.iloc[:,:].values)
data.iloc[:,:]= imputer.transform(data.iloc[:,:].values)

In [27]:
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2   France  30.0  54000.0       Yes
3    Spain  38.0  61000.0        No
4  Germany  40.0  48000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  27.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

# Filling the Null Values in GooglePlayStore

In [40]:
import numpy as np
import pandas as pd
data = pd.read_csv("Google Play Store.csv")

### Importing SimpleImputer from sklearn.impute

In [41]:
from sklearn.impute import SimpleImputer

### Inserting into new CSV file after handling the Null values with most_frequent strategy

In [42]:
impute = SimpleImputer(missing_values=np.nan,strategy="most_frequent")
impute.fit(data.iloc[:,:].values)
data.iloc[:,:]=impute.transform(data.iloc[:,:].values)
data.to_csv("googleplaystore.csv",index=False)

In [44]:
data = pd.read_csv("googleplaystore.csv") 
data.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [45]:
df = pd.read_csv("Google Play Store.csv") 
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64