In [2]:
import numpy as np
import pandas as pd

In [4]:
list = [1,2,3,4,5]
ser = pd.Series(list)
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
list = [[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,5]]
ser = pd.Series(list)
ser

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [11]:
list = [[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,5]]
ser = pd.DataFrame(list,index=['Row1','Row2','Row3'],columns=['A','B','C','D','E'])
ser

      A  B  C  D  E
Row1  1  2  3  4  5
Row2  1  2  3  4  5
Row3  1  2  3  4  5

### Use df.iloc[index_number] to get the specified index

In [32]:
list = [[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,5]]
ser = pd.DataFrame(list,index=['Row1','Row2','Row3'],columns=['A','B','C','D','E'])
display(ser.iloc[2])

A    1
B    2
C    3
D    4
E    5
Name: Row3, dtype: int64

### Deletes the Data Frame, if column is specified then only deletes the specified column

In [34]:
del ser['A']

In [36]:
ser

      B  C  D  E
Row1  2  3  4  5
Row2  2  3  4  5
Row3  2  3  4  5